---
import { getImage } from "astro:assets";
import logo from "../../../public/logoblancotransparente.png";

interface Props {
    mode?: "light" | "dark";
    opacity?: string;
}

const { mode = "dark", opacity = "opacity-5" } = Astro.props;

// Optimize the background logo image
const optimizedLogo = await getImage({
    src: logo,
    width: 100, // Smaller tiles for a better mosaic texture
    height: 100,
    format: "webp",
    quality: 30,
});

// If mode is light (for white backgrounds), we invert the white logo to make it black.
const filter = mode === "light" ? "filter: invert(1);" : "";
---

<div
    class={`absolute inset-0 ${opacity} pointer-events-none z-0`}
    style={`background-image: url('${optimizedLogo.src}'); background-size: 100px; background-repeat: repeat; ${filter}`}
>
</div>
